<div style="text-align:right"><%= link_to "Franchisees Index", "/franchisees"%></div>

<h1>Franchisors</h1>

<div><% @franchisors.each do |franchisor| %></div>
  <p><%= franchisor.name %> <%= franchisor.created_at %></p>
<div><% end %></div>
<br>

<div><%= link_to "New Franchisor", '/franchisors/new' %></div>
