<h1>Denver's Marijuana Licenses</h1>

<br>

<form action="/facility/<%= @b3_facility.id %>/licenses/new"method='get'>
  <input type='submit' value='Add New License' /><br>
</form><br>

<table style='width:100%'>
  <tr>
    <th>Business Name</th>
    <th>Facility Address</th>
    <th>License Type</th>
    <th>License Status</th>
    <th>License Expiration</th>
  </tr>
    <br><br>

