<h1>Denver's Licensed Facilities</h1>
<br>
<form action="/facilities/new" method = get>
  <input type='submit' value='Add New' /><br>
</form>


<%# <% @facilities.each do |facility| %>
  <%# <%= facility.full_address %>
<%# <% end %>