  <h1>Add New Facility</h1>
  <h3>Facility Details</h3>
<form action="/facilities" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Street Number:</label>
  <input type='text' name='facility[b3_street_number]' /><br><br>
  <label>Street Name:</label>
  <input type='text' name='facility[b3_street_name]' /><br><br>
  <label>Street Type:</label>
  <input type='text' name='facility[b3_street_type]' /><br><br>
  <label>Unit Info:</label>
  <input type='text' name='facility[b3_unit_info]' /><br><br>
  <label>City:</label>
  <input type='text' name='facility[b3_city]' value='Denver' /><br><br>
  <label>State:</label>
  <input type='text' name='facility[b3_state]' value='CO' /><br><br>
  <label>Zip Code:</label>
  <input type='text' name='facility[b3_zip]' /><br><br>
  <label>Has Certificate of Occupancy?</label><br>
  <input type='radio' name='facility[b3_has_co]' value='true' > Yes
  <input type='radio' name='facility[b3_has_co]' value='false' > No
  <br><br>
  <input type='submit' value='Add Facility'/><br>
</form>