<h1>Welcome to Our Relational Rails Project!</h1>

<h3>Denver Business Licensing</h3>
<a href="/facilities">Explore Licensed Facilities</a><br>
<a href="/licenses">Explore Licenses</a>

<h3>Denver's Franchisees</h3>
<a href="/mark">Mark Relational Rails</a></li>