<h1>Welcome to Our Relational Rails Project!</h1>

<h3>Denver's Licensed Marijuana Businesses</h3>
<a href="/facilities">Explore Marijuana Facilities</a><br>
<a href="/licenses">Explore Marijuana Licenses</a>

<h3>Denver's Franchisees</h3>
<a href="/mark">Mark Relational Rails</a></li>