<h1>Welcome to Our Relational Rails Project!</h1>

<ul>
  <li><a href="/netia">Netia Relational Rails</a></li>
  <br>
  <li>Mark Relational Rails</li>
  <div style="text-indent:30px"><a href="/franchisors">Franchisors</a></div>
  <div style="text-indent:30px"><a href="/franchisees">Franchisees</a></div>
</ul>