<h1>Welcome to Our Relational Rails Project!</h1>

<h3>Denver's Licensed Marijuana Businesses</h3>
<a href="/facilities">Explore Marijuana Facilities</a><br>
<a href="/licenses">Explore Marijuana Licenses</a><br>

<h3>Franchisors and Franchisees</h3>
<a href="/franchisors">Franchisors</a><br>
<a href="/franchisees">Franchisees</a><br>
